html,
body {
  margin: 0;
  overflow-x: hidden;
}

nav {
  background-image: linear-gradient(to bottom, #42a4a1, #1dd4aa);
  box-shadow: 2px 2px 23px 2px;
}

nav .a:hover {
  color: #ffffff !important;
}

.a {
  position: relative;
  text-decoration: none;
  letter-spacing: 0.5px;
  color: #f5deb3 !important;
  font-size: 20px !important;
  padding-right: 36px !important;
}

.a:after {
  content: "";
  position: absolute;
  background-color: #ffffff;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  color: #fff;
  transition: all 0.2s linear;
}

.a:hover::after {
  width: 100%;
  transition: all 0.2s linear;
  color: #fff;
}

.IniNavbar h2 {
  color: #fff;
}

/* nav a:hover {
  color: #ffffff !important;
  transition: 0.2s;
  border-bottom: 1px solid #f5deb3;
} */

/* nav a:hover::after {
  width: 100%;
  CONTEN
} */

.navbar-togler {
  border: none;
}

.hidden {
  opacity: 0;
  transition: all 1s;
  filter: blur(5px);
  transform: translatex(100%);
}

/* .aktivitas1 {
  opacity: 0;
  transition: all 1s;
  filter: blur(5px);
  transform: translateY(100%);
}

.show1 {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
} */

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}

.hero {
  background-image: url(img/house2.jpg);
  height: 853px;
  background-size: cover;
  padding: 10px 10px 767px 10px;
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
  padding-top: 200px;
  font-family: Arial, Helvetica, sans-serif;
}

.hero h1 {
  font-weight: 100;
  font-size: 80px;
  color: #fff;
  font-family: cursive, Arial, Helvetica, sans-serif;
  text-align: center;
}

.hero p {
  font-size: 20px;
  font-family: cursive, Arial, Helvetica, sans-serif;
  color: #fff;
  text-align: center;
}

#About {
  padding-top: 163px;
  padding-left: 140px;
  display: flex;
  background-color: #d6d6d6;
  height: 1070px;
  background-position: center;
}

.content {
  padding-left: 40px;
}

.content p {
  font-family: Arial, Helvetica, sans-serif;
}

#About {
  padding: 170px;
}

#About h1 {
  text-align: center;
  font-family: cursive;
  font-size: 80px;
  font-weight: 100;
}

#About p {
  font-family: cursive, Arial, Helvetica, sans-serif;
  text-align: justify;
  font-size: 30px;
}

.kontenBaris {
  display: flex;
}

.kontenBaris p {
  width: 1320px;
  font-size: 10px;
}

#Facility .setsumei {
  width: 55%;
  font-size: 23.5px;
  font-weight: bold;
  text-align: justify;
}

/* .kontenBaris p {
  font-size: 10px;
} */

.bagian2 {
  background-color: #e3ecec;
  padding: 40px;
}

.bagian2 img {
  padding: 20px;
}

/* THERE'S NOTHING HAPENNED!
.facility {
  background-color: #e3ecec;
  padding: 40px;
} */
/* ini JUDULLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL */

#Facility h1 {
  font-family: "La Belle Aurore", Arial, sans-serif;
  font-weight: 100;
  font-size: 100px;
  text-align: center;
  padding-bottom: 180px;
  padding-top: 120px;
}

#facility h2 {
  font-family: "Nunito", Arial, cursive;
  font-weight: bold;
  font-size: 30px;
  width: 1100px;
  padding-right: 90px;
  text-align: justify;
}

.end img {
  padding-right: 100px;
}

.mencoba #photo1 {
  padding-right: 100px;
}

#Facility p {
  font-size: 25px;
  text-align: justify;
}

#photo1 {
  border-radius: 10px;
  padding-left: 90px;
}

.deskripsi {
  padding-bottom: 90px;
  padding-right: 20px;
}

#tsumami {
  border: none;
  font-size: 37px;
  padding: 4px 20px;
  background-color: #dbbe17;
  color: white;
  transition: all 0.2s linear;
}

#tsumami:hover {
  cursor: pointer;
  transition: 0.8s;
  background-color: #0fc3ff;
}

.end img {
  border-radius: 30%;
  width: 600px;
  height: 400px;
  margin-right: 100px;
  padding-top: 100px;
}

.member {
  padding: 200px 0;
  display: flex;
  justify-content: center;
  background-color: #c1dee8;
}

#vert {
  padding-top: 38px;
  display: flex;
}

.kegiatan1 p {
  padding: 100px;
  font-size: 30px;
  text-align: justify;
}

.kegiatan1 img {
  padding: 20px;
}

.event img {
  padding-left: 30px;
}

.mokuji h1 {
  background-image: linear-gradient(to right top, #77d2b7, #6f6fec);
  border-radius: 20px;
  padding: 14px 20px;
  text-align: center;
  color: #fff;
  padding: 20px;
}

.image,
.image2 {
  padding-left: 30px;
}

.batas {
  margin-right: 450px;
}

.mokuji img {
  border-radius: 50%;
  margin-right: 200px;
  border: 7px solid #f6a2b2;
  width: 200px;
  height: 186px;
}

.mokuji p {
  width: 300px;
  text-align: justify;
}

.image {
  position: absolute;
  width: 400px;
}

.image__img {
  display: block;
  width: 100%;
}

.image__overlay {
  opacity: 0;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 42%;
  background: #68656599;
  color: #fff;
  display: flex;
  margin-left: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.2s linear;
}

.image__overlay:hover {
  cursor: pointer;
  transition: 0.5s;
  opacity: 1;
}

.image__title {
  font-size: 2em;
  font-weight: bold;
}

.image2 {
  position: relative;
  width: 400px;
}

.image_img2 {
  display: block;
  width: 100%;
}

.image__overlay2 {
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  margin-left: 30px;
  font-size: 30px;
  height: 42%;
  background: #68656599;
  color: #fff;
  transition: all 0.2s linear;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.image__overlay2:hover {
  cursor: pointer;
  opacity: 1;
  transition: 0.6s;
}

.image p,
.image2 p {
  font-size: 18px;
}

/* =-==============================AWLKDNKJAWNDAWLKDN======= */
.mainKegiatan {
  opacity: 1;
}
/* =====================================AWDAWDAWDWADAWD======== */

.teks .kegiatan1 h1 {
  opacity: 0;
}

.kegiatan1 p {
  opacity: 0;
}

.mainKegiatanParagraph1 {
  padding: 20px;
  font-size: 30px;
  text-align: justify;
  opacity: 1;
}

/* .kegiatan {
  padding: 200px 90px;
  height: auto;
  background-color: #e3ecec;
} */

.kegiatan1 {
  padding: 30px;
}

.drama {
  padding-top: 30px;
  padding-right: 110px;
  font-size: 30px;
  text-align: justify;
}

.teks {
  font-size: 30px;
}

.teks p {
  font-size: 20px;
}

.judul {
  opacity: 0;
  text-align: center;
  padding-top: 200px;
}

#Judul {
  font-size: 50px;
}

#foto1 {
  width: 800px;
  height: 540px;
}

.paragrafKegiatan1 {
  opacity: 0;
}

.lastParagraf p {
  padding: 20px;
  font-size: 20px;
  text-align: justify;
}

.lastParagrafR p {
  opacity: 0;
}

footer {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #fff;
  background-color: #42a4a1;
  background-image: linear-gradient(to top, #42a4a1, #1dd4aa);
  padding-bottom: 20px;
}

.container {
  color: rgb(255, 255, 255);
  text-align: center;
}

.copyright p {
  margin: 0 auto;
}

.socialMedia img:hover {
  cursor: pointer;
}

footer .container {
}

/* ==================================================================== */
/* ==================================================================== */
/* ==================================================================== */

@media (max-width: 1250px) {
  #About {
    display: block;
    padding: 20px;
  }

  #About img {
    background-position: center;
    /* margin-left: 220px; */
    width: 100%;
  }

  #About h1 {
    font-size: 66px;
  }

  #About p {
    font-size: 20px;
  }
  .kontenBaris #photo1 {
    background-position: center;
    width: 100%;
  }
}

@media (max-width: 1500px) {
  .kontenBaris {
    display: block;
    padding-bottom: 120px;
    width: -100px;
    background-position: center;
  }

  #Facility .setsumei {
    font-size: 30px;
    padding: 20px;
    width: 100%;
    text-align: justify;
  }

  .bagian2 #Facility h2 {
    width: 90%;
  }

  .bagian2 .kontenBaris p {
    width: 90%;
  }

  .kontenBaris p {
    font-size: 20px;
    padding: 20px;
    color: #60777f;
  }

  .kontenBaris #photo1 {
    background-position: center;
    width: 100%;
    height: 100%;
    padding-left: 20px;
  }

  .end img {
    background-position: center;
    width: 100%;
    height: 100%;
  }

  .mencoba #photo1 {
    padding-right: 90px;
  }
}

@media (max-width: 844px) {
  #vert {
    display: block;
  }

  #vert .batas {
    padding: 27px;
    padding-bottom: 900px;
  }

  .mokuji p {
    font-size: 27px;
    width: 333px;
  }

  .mokuji img {
    width: 300px;
    height: 280px;
  }

  .bagian2 #Facility h2 {
    width: 90%;
  }

  .bagian2 .kontenBaris p {
    width: 90%;
  }

  .image__overlay:hover {
    cursor: default;
    opacity: 0;
  }

  .image__overlay2:hover {
    cursor: default;
    opacity: 0;
  }

  .batas {
    margin-left: -276px;
  }

  .teks p {
    font-size: 30px;
    padding: 27px;
    text-align: justify;
  }

  .img-fluid {
    background-position: center;
  }

  .judul {
    opacity: 1;
  }

  .mainKegiatan {
    opacity: 0;
  }

  .paragrafKegiatan1 p {
    padding: 27px;
    padding-top: 20px;
    text-align: justify;
    font-size: 30px;
    opacity: 1;
  }

  .teks .mainKegiatan1 h1 {
    color: #0fc3ff;
  }
  .mainKegiatanParagraph1 {
    opacity: 0;
  }
}

@media (max-width: 990px) {
  .mainKegiatanParagraph1 {
    opacity: 0;
  }

  .mainKegiatan {
    opacity: 0;
  }

  .judul {
    opacity: 1;
  }

  .kontenBaris p {
    width: 720px;
  }

  .paragrafKegiatan1 {
    padding: 20px;
    font-size: 30px;
    text-align: justify;
    opacity: 1;
  }

  .teks {
    padding: 20px;
    font-size: 30px;
    text-align: justify;
  }

  .ngobrolViral {
    padding-bottom: 150px;
  }

  .img-fluid {
    padding: 32px;
  }

  .lastParagraf p {
    opacity: 0;
  }

  .lastParagrafR p {
    padding: 30px;
    font-size: 30px;
    text-align: justify;
    opacity: 1;
  }

  #Facility h2 {
    font-size: 26px;
  }

  #Facility p {
    font-size: 26px;
  }
}

/* HAPE SAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA */
@media (max-width: 426px) {
  html,
  body {
    width: 460px;
  }

  .content p {
    margin-left: -50px;
    padding: 30px;
  }

  .main {
    margin: 0;
    padding: 0;
  }

  #About {
    height: auto;
  }

  #Facility h1 {
    font-size: 80px;
  }

  #Facility .setsumei {
    width: auto;
    font-size: 20px;
  }

  #Facility .kontenBaris p {
    width: auto;
    font-size: 20px;
  }

  .mencoba {
    max-width: 100%;
    max-height: 100%;
  }

  .mencoba #photo1 {
    width: 450px;
    height: 270px;
  }

  .end img {
    width: 450px;
    height: 340px;
  }

  .teks p {
    font-size: 23px;
  }

  .image p {
    font-size: 22px;
  }

  .image2 p {
    font-size: 22px;
  }

  .paragrafKegiatan1 p {
    font-size: 23px;
  }

  .teks .drama {
    font-size: 23px;
  }

  .lastParagrafR p {
    font-size: 23px;
  }
  nav a:hover {
    color: #ffffff !important;
    transition: 0.2s;
    border-bottom: none;
  }
}
